In [1]:
#Importing the necessary libraries
import pandas as pd
import numpy as np
import scipy
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
# Problem 1

In [2]:
# We are comparing the means of 2 different populations. Here X is the name of the unit which is discrete and y is the length of the diameter of the cutlets and is continuous.
# X1 is unit A, X2 is unit B, Y1 is diameter of donuts produced by unit A and Y2 is diameter of donuts produced by unit B.
# H0: There is no difference between the average length of the diameters of the cutlets of unit A and unit B. 
# H1: There is a difference between the average length of the diameters of the cutlets of unit A and unit B.
# significance level (alpha) = 0.05
# We can use 2 sample Test to test our hypothesis.

cutlets = pd.read_csv('Cutlets.csv')

In [3]:
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
#Normality Test for Y1
print(stats.shapiro(cutlets['Unit A'].dropna()))

(0.9649458527565002, 0.3199819028377533)

In [5]:
#p-value = 0.32 , p-value is greater than 0.05, therefore we cannot reject the null hypothesis.
# We can infer that it follows a normal distribution.

In [6]:
#Normality Test for Y2
print(stats.shapiro(cutlets['Unit B'].dropna()))

(0.9727300405502319, 0.5224985480308533)

In [7]:
#p-value = 0.5225 , p-value is greater than 0.05, therefore we cannot reject the null hypothesis.
# We can infer that it follows a normal distribution.

In [8]:
# Assuming external conditions are not same as no information regarding with external conditions is specified in the question.
# We can proceed with variance test to test whether both the distribution of the samples of units A and B have equal variances or not.

In [10]:
# Variance test for 2 sample T test.
print(scipy.stats.levene(cutlets['Unit A'].dropna(),cutlets['Unit B'].dropna()))

LeveneResult(statistic=0.665089763863238, pvalue=0.4176162212502553)

In [11]:
#p-value = 0.4176 , p-value is greater than 0.05, therefore we cannot reject the null hypothesis.
# We can infer that the sample distributions of both the units have equal variances.

In [12]:
# Now we can proceed with the 2 sample T test for equal variances to test our initial hypothesis.
# H0: There is no difference between the average length of the diameters of the cutlets of unit A and unit B. 
# H1: There is a difference between the average length of the diameters of the cutlets of unit A and unit B.

In [13]:
print(scipy.stats.ttest_ind(cutlets['Unit A'].dropna(),cutlets['Unit B'].dropna()))

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [14]:
#We are using a two sided test because our alternate hypothesis states mean of population 1 not equal to mean of population 2.
#p-value = 0.4723, p-value is greater than 0.05, therefore we cannot reject the null hypothesis.

In [15]:
#We can infer that we do not have enough evidence from the sample data to reject the null hypothesis. i.e our test
# suggests that the samples do not have enough evidence to have come from populations with significantly different means.
# We can infer that with a 95% level of confidence the population means of the diameters of donuts produced from unit A and Unit B are not significantly different.

In [16]:
#Problem 2

In [17]:
# We are comparing the means of 4 different populations. 
# X1,X2,X3,X4 are the names of the 4 laboratories respectively and Y1,Y2,Y3,Y4 are the TATs of the 4 labs respectively.
# H0: The average Turn Around Time of all 4 laboratories are the same.
# H1: The average Turn Around Time of at least one laboratory is different from the others.
# significance level (alpha) = 0.05

In [18]:
labTat = pd.read_csv('LabTAT.csv')

In [19]:
labTat.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [20]:
# Normality test for Y1
print(stats.shapiro(labTat['Laboratory 1'].dropna()))

(0.9901824593544006, 0.5506953597068787)

In [21]:
#p-value = 0.5508 , p-value is greater than 0.05, therefore we cannot reject the null hypothesis.
# We can infer that it follows a normal distribution.

In [22]:
# Normality test for Y2
print(stats.shapiro(labTat['Laboratory 2'].dropna()))

(0.9936322569847107, 0.8637524843215942)

In [23]:
#p-value =  0.8637 , p-value is greater than 0.05, therefore we cannot reject the null hypothesis.
# We can infer that it follows a normal distribution.

In [24]:
# Normality test for Y3
print(stats.shapiro(labTat['Laboratory 3'].dropna()))

(0.9886345267295837, 0.4205053448677063)

In [25]:
#p-value = 0.4205 , p-value is greater than 0.05, therefore we cannot reject the null hypothesis.
# We can infer that it follows a normal distribution.

In [26]:
# Normality test for Y4
print(stats.shapiro(labTat['Laboratory 4'].dropna()))

(0.9913753271102905, 0.6618951559066772)

In [27]:
#p-value = 0.6619 , p-value is greater than 0.05, therefore we cannot reject the null hypothesis.
# We can infer that it follows a normal distribution.

In [28]:
# All the samples of the laboratories follow a normal distribution.
# We can proceed with the variance test to check whether all 4 distributions have equal variance or not.

In [29]:
print(scipy.stats.levene(labTat['Laboratory 1'].dropna(),labTat['Laboratory 2'].dropna()))
print(scipy.stats.levene(labTat['Laboratory 1'].dropna(),labTat['Laboratory 3'].dropna()))
print(scipy.stats.levene(labTat['Laboratory 1'].dropna(),labTat['Laboratory 4'].dropna()))
print(scipy.stats.levene(labTat['Laboratory 2'].dropna(),labTat['Laboratory 3'].dropna()))
print(scipy.stats.levene(labTat['Laboratory 2'].dropna(),labTat['Laboratory 4'].dropna()))
print(scipy.stats.levene(labTat['Laboratory 3'].dropna(),labTat['Laboratory 4'].dropna()))

LeveneResult(statistic=3.5495027780905763, pvalue=0.06078228171776711)
LeveneResult(statistic=7.547664894290509, pvalue=0.006468575869839467)
LeveneResult(statistic=1.5000140718506723, pvalue=0.22188001348277267)
LeveneResult(statistic=0.9441465124387124, pvalue=0.33220021420602397)
LeveneResult(statistic=0.2889202799636133, pvalue=0.5914154837597723)
LeveneResult(statistic=2.037958464521512, pvalue=0.15472618294425391)

In [30]:
# All the variances are equal except that of lab1 and lab3 combination. Therefore we can assume that all labs have
# equal variance and proceed further with one-way ANOVA test.

In [31]:
# H0: The average Turn Around Time of all 4 laboratories are the same.
# H1: The average Turn Around Time of at least one laboratory is different from the others.

In [32]:
stacked_lab = pd.DataFrame(labTat.dropna().stack()).reset_index().drop('level_0',axis=1)
stacked_lab.columns = ['ind','values']
mod = smf.ols('values~ind',data=stacked_lab).fit()
aov_table=sm.stats.anova_lm(mod, type=2)
print(aov_table)

             df         sum_sq       mean_sq           F        PR(>F)
ind         3.0   79979.167089  26659.722363  118.704217  2.115671e-57
Residual  476.0  106904.608903    224.589515         NaN           NaN

In [33]:
# We can observe the p-value to be very small much lesser than 0.05. Therefore, we have enough evidence to 
# reject the null hypothesis. We can infer from our hypothesis test that with a 95% level of confidence there is some difference in the average
# Turn Around Time between the 4 laboratories.

In [34]:
#Problem 3

In [35]:
# We are comparing the proportions of 4 different populations.
# X1,X2,X3,X4 are the 4 regions East,West,North and South respectively. Y1,Y2 are the males and females count per region.
#H0: The male-female buyer ratios are the same across all regions.
#H1: The male-female buyer ratios of at least one region is defferent from the other regions.
# significance level (alpha) = 0.05

In [36]:
buyer_ratio = pd.read_csv('BuyerRatio.csv',index_col=0)

In [37]:
buyer_ratio.head()

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [38]:
# As we have more than 2 populations to compare and both X and Y are discrete we can proceed with chi-square test.
Chisquares_results=scipy.stats.chi2_contingency(buyer_ratio)
Chi_square=[['','Test Statistic','p-value'],['Sample Data',Chisquares_results[0],Chisquares_results[1]]]
print(Chi_square)

[['', 'Test Statistic', 'p-value'], ['Sample Data', 1.595945538661058, 0.6603094907091882]]

In [40]:
#p-value=0.6603, p-value is greater than 0.05, therefore we do not have enough evidence to reject the null hypothesis.
# We can infer that from our analysis of the sample proportions, with a 95 % level of confidence that the population 
# male-female buyer ratios are the same across all the regions.

In [41]:
#Problem 4

In [42]:
# We are comparing the proportions of 4 different populations.
# X1,X2,X3,X4 are the 4 TeleCall centers and Y1 and Y2 are denote whether an order form is defective or not.
#H0: The defective % of order forms across all 4 centers is the same.
#H1: The defective % of order forms of at least one center is different from the other centers.

# significance level (alpha) = 0.05

In [43]:
CustomerOrderForm = pd.read_csv('CustomerOrderform.csv')
stacked_custorderform = pd.DataFrame(CustomerOrderForm.dropna().stack()).reset_index().drop('level_0',axis=1)
stacked_custorderform.columns = ['ind','values']

In [44]:
CustomerOrderForm = pd.crosstab(index=stacked_custorderform['values'],columns=stacked_custorderform['ind'])

In [45]:
CustomerOrderForm

ind         India  Indonesia  Malta  Phillippines
values
Defective      20         33     31            29
Error Free    280        267    269           271

In [46]:
# As we have more than 2 populations to compare and both X and Y are discrete we can proceed with chi-square test.
Chisquares_results=scipy.stats.chi2_contingency(CustomerOrderForm)
Chi_square=[['','Test Statistic','p-value'],['Sample Data',Chisquares_results[0],Chisquares_results[1]]]
print(Chi_square)

[['', 'Test Statistic', 'p-value'], ['Sample Data', 3.858960685820355, 0.2771020991233135]]

In [47]:
#p-value=0.2771, p-value is greater than 0.05, therefore we do not have enough evidence to reject the null hypothesis.
# We can infer that from our analysis of the sample proportions, with a 95 % level of confidence that
# the population error defect rate across all 4 centers are equal.

In [48]:
#Problem 5

In [49]:
# We are comparing more than 2 populations here. The % of males versus females on weekdays and weekends.
#H0: The % of males versus females entering the store is the same for weekdays and weekends.
#H1: The % of males versus females entering the store is different for weekdays and weekends.
# significance level (alpha) = 0.05

In [50]:
from statsmodels.stats.proportion import proportions_ztest

In [51]:
Fantaloons = pd.read_csv('Fantaloons.csv')
table1 = Fantaloons['Weekdays'].value_counts()
table2 = Fantaloons['Weekend'].value_counts()

In [52]:
count = np.array([167,113])
nobs = np.array([400,400])

In [53]:
stats,pval = proportions_ztest(count, nobs,alternative='two-sided') 
print(pval) # Pvalue- 0.000

6.26114287794602e-05

In [ ]:
# The p-value is much lesser than 0.05. Therefore we have enough evidence to reject the null hypothesis and
# go with alternate hypothesis.
# We can infer that with a 95% confidence level, the population  % of males versus females entering the store is different for weekdays and weekends.